<template name='channel'>
  <h1>{{channel.name}}</h1>

  {{#if currentUser}}
  <input type='text' />
  <button>発言</button>
  <a target="_blank" href="http://twitter.com/share?url={{current_url}}&text={{channel.name}}のパブリックビューイングに参加中">
    <p>友達と一緒に観戦する</p>
  </a>
  {{else}} {{> loginButtons}} {{/if}}
  <h4>
    <img src="{{currentUser.image}}" /> {{currentUser.name}}
  </h4>
  {{#each currentUser.posts}}
  <p>
    {{body}}
  </p>
  {{/each}} {{#each users}}
  <h4>
    <img src="{{image}}" /> {{name}}
  </h4>
  {{#each posts}}
  <p>
    {{body}}
  </p>
  {{/each}} {{/each}}
</template>
