<template name='channel'>
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <i class="fa fa-users"></i> パブリックビューイング / {{channel.name}}
        </a>
      </div>

    </div>
  </nav>
  <!-- nav -->



  <div class="container">



    <!-- share -->
    {{#if currentUser}}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>友達にも知らせますか？</strong> より楽しむことができます。
      <br/>
      <a target="_blank" href="https://twitter.com/share?url={{current_url}}&text=【実況】{{channel.name}}のパブリックビューイングに参加中">
        <button class="btn btn-primary">はい</button>
      </a>
      <button class="btn btn-default" data-dismiss="alert">あとにする</button>
    </div>
    {{/if}}
    <div class="row">
      <!-- share -->

      <!-- me -->
      {{#if currentUser}}
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-success">
          <div class='panel-heading'>
            <h4>
              <img src="{{currentUser.image}}" /> {{currentUser.name}}
            </h4>
          </div>
          <ul class='list-group'>
            <form class='list-group-item' onsubmit="return false;">
              <input class="form-control" id='newPostBody' placeholder="Enterで発言" type='text' />
            </form>
            {{#each currentUser.posts}}
            <li class='list-group-item'>
              {{body}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{else}}
      <div class='col-lg-12  text-center'>
        <button id='loginButton' class="btn btn-primary btn-lg"><i class='fa fa-twitter fa-lg'></i>Twitterでログイン</button>
      </div>
      {{/if}}
      <!-- me -->

      <!-- users -->
      {{#each users}}
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class='panel-heading'>
            <h4>
              <img src="{{image}}" /> {{name}}
            </h4>
          </div>
          <ul class='list-group'>
            {{#each posts}}
            <li class='list-group-item'>
              {{body}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{/each}}
      <!-- users -->
    </div>
  </div>
</template>
